<h1> Especificaciones Starship</h1>

<p><b>Nombre:</b> <%=@new_item2["name"]%> 
<br><br> <b>model:</b> <%= @new_item2["model"]%> 
<br><br> <b>manufacturer:</b> <%= @new_item2["manufacturer"]%> 
<br><br> <b>cost_in_credits:</b> <%= @new_item2["cost_in_credits"]%>
<br><br> <b>length:</b> <%= @new_item2["length"]%>
<br><br> <b>max_atmosphering_speed:</b> <%= @new_item2["max_atmosphering_speed"]%>
<br><br> <b>crew:</b> <%= @new_item2["crew"]%> 
<br><br> <b>passengers:</b> <%= @new_item2["passengers"]%>
<br><br> <b>cargo_capacity:</b> <%= @new_item2["cargo_capacity"]%>
<br><br> <b>consumables:</b> <%= @new_item2["consumables"]%>
<br><br> <b>hyperdrive_rating:</b> <%= @new_item2["hyperdrive_rating"]%> 
<br><br> <b>MGLT:</b> <%= @new_item2["MGLT"]%>
<br><br> <b>starship_class:</b> <%= @new_item2["starship_class"]%>

<br><br> <b>pilots:</b> <% @new_item2["pilots"].each do |pilo|%><br>
    <% @persona = JSON.parse(RestClient.get(pilo))%>
    <%= link_to @persona["name"],character_index_path(:pl_id => @persona["url"])%>
<%end%>

<br><br> <b>Films:</b> <% @new_item2["films"].each do |peli|%><br>
    <% @fil = JSON.parse(RestClient.get(peli))%>
    <%= link_to @fil["title"],pelicula_index_path(:p_id => @fil["url"])%>
<%end%>

</p>
<br> <%= link_to "back", root_path%>

