<h1> Especificaciones Personaje</h1>

<p><b>Nombre:</b> <%=@new_item2["name"]%> 
<br><br> <b>height:</b> <%= @new_item2["height"]%> 
<br><br> <b>mass:</b> <%= @new_item2["mass"]%> 
<br><br> <b>hair_color:</b> <%= @new_item2["hair_color"]%>
<br><br> <b>skin_color:</b> <%= @new_item2["skin_color"]%>
<br><br> <b>eye_color:</b> <%= @new_item2["eye_color"]%>
<br><br> <b>birth_year:</b> <%= @new_item2["birth_year"]%> 
<br><br> <b>gender:</b> <%= @new_item2["gender"]%> 
<br><br> <b>homeworld:</b> <%= JSON.parse(RestClient.get(@new_item2["homeworld"]))["name"]%>

<br><br> <b>Films:</b> <% @new_item2["films"].each do |peli|%><br>
    <% @fil = JSON.parse(RestClient.get(peli))%>
    <%= link_to @fil["title"],pelicula_index_path(:p_id => @fil["url"])%>
<%end%>

<br><br> <b>starships:</b> <% @new_item2["starships"].each do |star|%><br>
<% @stnave2 = JSON.parse(RestClient.get(star))%>
<%= link_to @stnave2["name"],nave_index_path(:pl_id => @stnave2["url"])%>
<%end%>


</p>
<br> <%= link_to "back", root_path %>