<h1> Especificaciones Planeta</h1>

<%= form_tag(search_planet_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <%= button_tag "Sumit", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>     
  </div>  
<% end %>

<p><b>Planeta:</b> <%=@new_item2["name"]%> 
<br><br> <b>Rotation Period:</b> <%= @new_item2["rotation_period"]%> 
<br><br> <b>orbital_period:</b> <%= @new_item2["orbital_period"]%> 
<br><br> <b>diameter:</b> <%= @new_item2["diameter"]%>
<br><br> <b>climate:</b> <%= @new_item2["climate"]%>
<br><br> <b>gravity:</b> <%= @new_item2["gravity"]%>
<br><br> <b>terrain:</b> <%= @new_item2["terrain"]%> 
<br><br> <b>surface_water:</b> <%= @new_item2["surface_water"]%> 
<br><br> <b>population:</b> <%= @new_item2["population"]%>

<br><br> <b>Residents:</b> <% @new_item2["residents"].each do |personajes|%><br>
    <% @persona = JSON.parse(RestClient.get(personajes))%>
    <%= link_to @persona["name"],character_index_path(:pl_id => @persona["url"])%>
<%end%>

<br><br> <b>Films:</b> <% @new_item2["films"].each do |peli|%><br>
    <% @fil = JSON.parse(RestClient.get(peli))%>
    <%= link_to @fil["title"],pelicula_index_path(:p_id => @fil["url"])%>
<%end%>
</p>
<br> <%= link_to "back", root_path %>