<h2>Starwars Movies</h2>

<% @object.each do |item|%>
<p><b>Película:</b> <%=item["title"]%> 
<br> <b>Lanzamiento:</b> <%= item["release_date"]%> 
<br> <b>Productor/es:</b> <%= item["producer"]%> 
<br> <b>Director:</b> <%= item["director"]%>
<br> <b>N° Episodio:</b> <%= item["episode_id"]%>
<br> 
<%= link_to "ver más", pelicula_index_path(:p_id => item["url"])%>
</p>

<% end %>

