<h2>Starwars Movies</h2>

<%= form_tag(search_welcome_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <%= button_tag "Sumit", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>     
  </div>  
<% end %>
<%=if @verificador == false%>
<h4>NOT FOUND</h4>
<%end%>

<% @object.each do |item|%>
<p><b>Película:</b> <%=item["title"]%> 
<br> <b>Lanzamiento:</b> <%= item["release_date"]%> 
<br> <b>Productor/es:</b> <%= item["producer"]%> 
<br> <b>Director:</b> <%= item["director"]%>
<br> <b>N° Episodio:</b> <%= item["episode_id"]%>
<br> 
<%= link_to "ver más.", pelicula_index_path(:p_id => item["url"])%>
</p>

<% end %>

